/* general */
body {
  color: white;
  background: #1d1f21;
    padding: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

/* twitter */
#twitter {
  display: flex;
}
.whois, .statistics, .meta {
  display: flex;
  flex-flow: column, wrap;
}

/* avatar */
.avatar {
  margin-right: 20px;
}

/* meta */

/* who is */
.whois__name {
  font-weight: 600;
}
.whois__item, .statistics__item{
  flex: 1;
  color: #aab8c2;
}

/* tweet text */
.tweet-text {
  font-size: 18px;
}

/* statistics */
ul.statistics li:nth-child(1) {
  color: #1da1f2;
}
ul.statistics li:nth-child(2) {
  color: #19cf86;
}
ul.statistics li:nth-child(3) {
  color: #e81c4f;
}
