/* general */
body {
  color: white;
  background: #1d1f21;
    padding: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

/* twitter */
#twitter {
  display: flex;
}

.whois, .statistics, .meta {
  display: flex;
  flex-flow: column, wrap;
}

/* avatar */
.avatar {
  margin-right: 20px;
}

/* meta */
.meta {
  justify-content: space-between;
  margin-bottom: 20px;
  color: #aab8c2;
}
.meta__item {
  text-align: center;
  font-weight: 600;
}

/* tweet */
.tweet {
  padding-left: 20px;
  border-left: 2px solid white;
}

/* who is */
.whois__item {
  padding-right: 10px;
  color: #aab8c2;
}

.whois__item--name {
  color: white;
  font-weight: 600;
}

/* tweet text */
.tweet-text {
  font-size: 18px;
}

/* statistics */
.statistics__item {
  flex: 1;
}

.statistics__item--value {
  font-weight: 600;
}

.statistics__item--time {
  color: dodgerblue;
}

.statistics__item--retweet {
  color: #19cf86;
}
.statistics__item--heart {
  color: #e81c4f;
}
